APP_PORT=4173

# Producao VPS / Portainer
APP_IMAGE=ghcr.io/mjjuniorr/controle-remessas-web:ef83c7e
API_IMAGE=ghcr.io/mjjuniorr/controle-remessas-api:ef83c7e
APP_HOST=remessas.3dhmanaus.shop
APP_REPLICAS=1
TRAEFIK_ENTRYPOINTS=websecure
TRAEFIK_CERTRESOLVER=letsencryptresolver
TRAEFIK_PRIORITY=1
POSTGRES_DB=controle_remessas
POSTGRES_USER=controle_remessas
POSTGRES_PASSWORD=troque_esta_senha
APP_PASSWORD=troque_esta_senha_de_acesso
JWT_SECRET=troque_este_segredo
API_TOKEN=token_interno_para_n8n
CORS_ORIGIN=*
