APP_PORT=4173

# Producao VPS / Portainer
APP_IMAGE=ghcr.io/mjjuniorr/controle-remessas-web:e5d7e78
APP_HOST=remessas.3dhmanaus.shop
APP_REPLICAS=1
TRAEFIK_ENTRYPOINTS=websecure
TRAEFIK_CERTRESOLVER=letsencryptresolver
TRAEFIK_PRIORITY=1
