APP_PORT=4173

# Producao VPS / Portainer
APP_IMAGE=registry.example.com/controle-remessas-web:latest
APP_HOST=remessas.3dhmanaus.shop
APP_REPLICAS=1
TRAEFIK_ENTRYPOINTS=websecure
TRAEFIK_CERTRESOLVER=letsencryptresolver
TRAEFIK_PRIORITY=1
